@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
    background: url('https://www.transparenttextures.com/patterns/stardust.png') repeat, #000;
    color: #feda4a;
}

.header {
    text-align: center;
    padding: 2rem;
    background: #111;
    border-bottom: 2px solid #feda4a;
}

.header h1 {
    font-size: 3rem;
    margin: 0;
}

.header p {
    font-size: 1.2rem;
    color: #ccc;
    margin-top: 0.5rem;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
}



* {
  box-sizing: border-box;
}

.fotos {
    float: left;
    width: 23%;
    margin: 1%;
    background-color: rgba(20, 20, 20, 0.85);
    border: 2px solid #feda4a;
    padding: 1rem 1.5rem;
    border-radius: 12px;
    box-shadow: 0 0 12px #feda4a;
     box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    min-height: 350px; 
    overflow: auto;    
    text-align: left;
}

.fotos h2, .fotos p {
    margin: 0 0 0.8rem 0;
}

.fotos img {
    width: 100px;       
    height: 100px;     
    object-fit: cover;  
    border-radius: 10px;
    border: 2px solid #fff;
    align-self: flex-start;
    margin-top: auto;
}
.botao-ir-formulario {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000; 
    color: #ffe81f;          
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-ir-formulario:hover {
    background-color: #706f63e1;
}

